$white: #fefefe;
$black: #040406;
$gray: #73646f;
$gray-2: #3f393e;
$white-1: #fafafa;
$white-2: #f2f3f0;
$light-red: #ffd6d4;
$red: #fa3f35;
$light-yellow: #fffbe0;
$yellow: #f3db27;
$blue: #27a5f3;
$green: #21ac56;
$light-green: #a9ffca;
$light-blue: #abd5fe;
$very-light-blue: #d3e5f7;
$very-light-red: #ffe7e9;
$pinkish-white: #fff4fb;

$primary: #1c65db;
$secondary: #518ded;

$shadow-1: 0px 0px 14px rgba(0, 0, 0, 0.1);
$shadow-2: 1px 1px 20px rgba(0, 0, 0, 0.08);

$breakpoint-md: 768px;
