@import "styles/variables";

.container {
  width: 1200px;
  max-width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
  }
}
