@import "styles/_variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $gray;

    span {
      font-size: 0.875rem;
    }
  }

  .inputContainer {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 3px 0;
    padding: 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 39px;

    &:has(.activeAuto) {
      border-color: $primary;
    }

    &:has(input:disabled) {
      background-color: $white-2;
      border-color: $white-2;

      &:hover {
        border-color: $white-2;
      }
    }

    &:hover,
    &:focus-within {
      .auto {
        opacity: 1;
      }
    }

    input:disabled + .numericControl {
      background-color: $white-2;
      pointer-events: none;
    }

    .auto {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      cursor: pointer;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;
      opacity: 0;
      transition: 200ms;
      font-size: 12px;
      border-radius: 11px;
      padding: 0px 6px;
      color: $gray;

      svg {
        height: 18px;
        width: 18px;
        fill: $gray;
      }
    }

    .activeAuto {
      background-color: $primary;
      color: $white;
      opacity: 1;

      svg {
        fill: $primary;
      }
    }

    .numericControl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4px 2px;
      height: 100%;
      align-items: center;

      .controlIcon {
        user-select: none;
        cursor: n-resize;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        width: 18px;

        &:hover {
          svg {
            fill: $black;
          }
        }

        svg {
          fill: $gray;
          height: 100%;
          width: 100%;
          transition: 200ms;
        }
      }

      .controlIcon.down {
        cursor: s-resize;
      }
    }

    .text {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      padding: 3px;
      padding-left: 15px;
    }

    input {
      flex: 1;
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      padding: 12px 20px;
      height: 100%;
      width: 100%;
      outline: none;
      border-color: transparent;
      border-radius: 5px;
      background-color: transparent;

      &::placeholder {
        color: $gray;
      }

      &:disabled {
        background-color: $white-2;
      }
    }

    input[type="color"] {
      --webkit-appearance: none;
      border: none;
      height: 30px;
      border-radius: 5px;
      padding: 5px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .passwordInput {
      padding-right: 31px;
    }

    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .eye {
      position: absolute;
      right: 10px;
      top: 50%;
      cursor: pointer;
      height: 18px;
      width: 18px;
      transform: translateY(-50%);

      svg {
        height: 100%;
        width: 100%;
        color: $gray;
      }
    }

    @media (max-width: 768px) {
      margin: 0;

      input {
        font-size: 14px;
        line-height: 21px;
        padding: 9px 16px;
      }

      .passwordInput {
        padding-right: 20px;
      }
    }
  }

  .hint {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    font-weight: 500;
  }

  .errorMsg {
    color: red;
    font-weight: 600;
    font-size: 0.875rem;
    padding-left: 3px;
  }
}

.selectContainer {
  margin: 3px 0;
}

@media (max-width: 768px) {
  .container {
    .label {
      font-size: 0.875rem;
    }

    input {
      height: 35px;
      font-size: 0.875rem;
    }
  }
}
