@import "styles/variables";

.container {
  background-color: $white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: clip;

  .topBar {
    z-index: 5;
  }

  .controls {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $gray;

    span {
      font-size: 0.875rem;
    }
  }

  .textBtn {
    padding: 8px 10px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    color: $primary;
    font-weight: 600;
    font-size: 16px;
  }

  .buttons {
    margin: 5px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .button {
    margin-top: 28px;
    padding: 7px 18px;
    height: fit-content;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .slider {
    width: 130px;
  }

  .approvalBox {
    width: 100%;
    min-height: 640px;
  }

  .tradeForm {
    width: 100%;

    .formBody {
      flex-direction: row;
      gap: 15px;
    }
  }

  .allTrades {
    width: 100%;
  }

  @media (max-width: $breakpoint-md) {
    padding: 10px;

    .controls {
      gap: 10px;
    }

    .button {
      svg {
        height: 16px;
        width: 16px;
      }
    }

    .body {
      flex-direction: column;
    }

    .tradeForm {
      padding: 0;
      width: 100%;

      .formBody {
        flex-direction: column;
        gap: 15px;
      }
    }

    .chartOuter {
      width: 100%;

      .chart {
        height: 500px;
      }

      .shortChart {
        height: 400px;
      }
    }
  }
}
